<!-- <form method="get" action="/workouts/search">
    <button type="submit">Back to Search</button>
</form>
  <% data.forEach((elem) => { %>
    <h2><%= elem.name %> </h2>
    <h3><%= elem.target %> </h3>
    <img src=<%= elem.gifUrl %> >
    <h4><%= currentUser.id %> </h4>
    
    <form method="POST" action="/workouts/myworkoutroutine">
      <input type="text" value="<%= elem.name %>" name="name" hidden>
      <input type="text" value="<%= elem.target %>" name="target" hidden>
      <input type="text" value="<%= elem.gifUrl %>" name="gif" hidden>
      <input type="text" value="<%= currentUser.id %>" name="userId" hidden>
      <button type="submit">Add To Routine</button>
    </form>
    <br>
    <br>
 <% }) %> -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/searchpage.css">
 </head>
 <body>
  <form method="get" action="/workouts/search">
    <button type="submit">Back to Search</button>
</form>
<div id="hello123">
  <% data.forEach((elem) => { %>
    <h2><%= elem.name %> </h2>
    <h3><%= elem.target %> </h3>
    <img src=<%= elem.gifUrl %> >
    <h4><%= currentUser.id %> </h4>
    
    <form method="POST" action="/workouts/myworkoutroutine">
      <input type="text" value="<%= elem.name %>" name="name" hidden>
      <input type="text" value="<%= elem.target %>" name="target" hidden>
      <input type="text" value="<%= elem.gifUrl %>" name="gif" hidden>
      <input type="text" value="<%= currentUser.id %>" name="userId" hidden>
      <button type="submit">Add To Routine</button>
    </form>
    <br>
    <br>
    <br>
 <% }) %>
</div>

 </body>
 </html>